<html>

<head>
  <title>CSCI214Project</title>
  <script
  src="https://code.jquery.com/jquery-1.12.3.min.js"
  integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="
  crossorigin="anonymous"></script>


  <link href="https://fonts.googleapis.com/css?family=Forum" rel="stylesheet">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/themes/default.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/themes/default.date.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/themes/default.time.css" />



  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href = "/assets/styles.css" rel="stylesheet" type="text/css" />
  <style>
    #nav1 {
      color: rgba(0,0,0,.3);
    }
    #nav2 {
      color: rgba(0,0,0,.3);
    }
    #nav3 {
      color: rgba(0,0,0,.3);
    }
    #nav4 {
      color: rgba(0,0,0,.3);
    }
    #nav5 {
      color: rgba(0,0,0,.3);
    }
    #nav6 {
      color: rgba(0,0,0,.3);
    }
  </style>
</head>

<body>
  <div style="margin: auto; text-align: center;">
    <img src="/assets/W2.jpg" alt="uow" height="80px">
  </div>
  <% if(details.type == "student") {%>
      <% include partials/navBarStudent.ejs %>
  <% }else{ %>
      <% include partials/navBarStaff.ejs %>
  <% } %>
  <br>
  <div class="centerSet">
    <div class="">
      <span style="font-size:40px;" class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
        <br>
        <br><br>
      </span>
      <div style="    font-size: 20px;  font-weight: bold;  color: rgba(203, 54, 54, 0.71);">
        Account Management

      </div>
      <div class="" style="font-size: 15px; color: #6c757d;">
        List of activities
      </div>
    </div>
    <hr style="width: 1300px;">

  </div>
    <br>
    <div class="container" style="width: 600px; padding: 0px 0px; border-radius:5px; border: 2px solid rgba(203, 54, 54, 0.71);">
      <div class="card-header" style="text-align: center;">
        <h style="font-size: 25;">Activity History</h>
      </div>
      <table class="table" style="margin-bottom: 0px;">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Activity Name</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i< activities.length; i++){ %>
            <tr>
              <th scope="row"><%= i+1 %></th>
              <td><%= activities[i].action %></td>
              <td><%= activities[i].time.toLocaleDateString("en-US") %></td>
              <td>

                <% if(activities[i].time.getHours() < 10) {%>
                    <%= "0" + activities[i].time.getHours() %>
                <% }else{ %>
                    <%= activities[i].time.getHours() %>
                <% } %>:
                <% if(activities[i].time.getMinutes() < 10) {%>
                    <%= "0" + activities[i].time.getMinutes() %>
                <% }else{ %>
                    <%= activities[i].time.getMinutes() %>
                <% } %>:
                <% if(activities[i].time.getSeconds() < 10) {%>
                    <%= "0" + activities[i].time.getSeconds() %>
                <% }else{ %>
                    <%= activities[i].time.getSeconds() %>
                <% } %>

              </td>
              <!-- <td><%= activities[i].time.getHours() + ":" + activities[i].time.getMinutes() + ":" + activities[i].time.getSeconds() %></td> -->
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>



    <br>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
    src="https://code.jquery.com/jquery-1.12.3.min.js"
    integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/picker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.date.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.time.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/assets/createAccount-client.js"></script>
  </body>

  </html>
