<html>

      <head>
        <title>CSCI214Project</title>

        <script
  src="https://code.jquery.com/jquery-1.12.3.min.js"
  integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="
  crossorigin="anonymous"></script>

        <link href="https://fonts.googleapis.com/css?family=Forum" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href = "/assets/styles.css" rel="stylesheet" type="text/css" />
      </head>

      <body>
        <div style="margin: auto; text-align: center;">
        <img src="/assets/W2.jpg" alt="uow" height="80px">
        </div>
        <div class="head">
              <table class="no" style="text-align: left; font-weight: bold; font-size: 20px;">
                <tr>
                  <td>
                    STAFF &nbsp;
                    <span style=" font-size: 16px; font-style: italic;">
                    <a href="/staff" style="color: rgba(0,0,0,.3)">Home</a> &nbsp;
                    <a href="/createEvent" style="color: rgba(0,0,0,.3)">Create Event</a> &nbsp;
                    <a href="/viewEvent" style="color: rgba(0,0,0,.9)">View Event</a> &nbsp;</span>
                  </td>
                  <td style="text-align: right; font-size: 18px; font-style: italic; padding-right:15px;">
                    <i class="material-icons" style="font-size: 15px;">account_circle</i><%= user %>
                    &nbsp; <a href="/index"><a href="/index"><i class="fas fa-power-off"></i></a>
                    </td>
                </tr>
              </table> <div></div>
          </div>


          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Error</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Not creator of this event
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <br>
          <h7 class="marginSet2">View Current Event</h7>
          <br>
          <form id="show" method="get" action="./viewEvent">
            <select id="showEvent" name="showE" class="form-control form-control-sm" style="width: 180px; margin: 0px 170px;">
              <option value="all">All events</option>
              <% if(selectVal == "upcomming") {%>
                <option value="upcomming" selected>Upcoming events</option>
              <% }else{ %>
                <option value="upcomming">Upcoming events</option>
              <% } %>
              <% if(selectVal == "past") {%>
                <option value="past" selected>Past events</option>
              <% }else{ %>
                <option value="past">Past events</option>
              <% } %>
            </select>
          </form>


          <br>
          <% if(todos.length == 0) {%>
              <div style="margin-left: 200px; font-size:small; color: #6c757d">
                <small class="text-muted">- No upcomming events -</small>
              </div>
          <% } %>
          <div class="row">


            <% for(var i=0; i< todos.length; i++){ %>

              <div class="col-md-6 mb-3">
                <div class="card">
                  <div class="card-header" style="color: white;">
                    <%= todos[i].name %>
                  </div>
                  <div class="card-body">
                    <ul class="list-group" style="border:none; text-align:left;">
                      <li class="list-group-item" style="height: 100px; vertical-align: top; font-style:italic;">
                        <%= todos[i].des %></li>
                      <li class="list-group-item"><i class="material-icons" style="font-size: 18px;">date_range</i><span><%= todos[i].date.toLocaleDateString("en-US") %></span></li>
                      <li class="list-group-item"><i class="material-icons" style="font-size: 18px;">access_time</i><span><%= todos[i].start %> - <%= todos[i].end %></span></li>
                      <li class="list-group-item"><i class="material-icons" style="font-size: 18px;">location_on</i><span><%= todos[i].address %></span></li>
                      <li class="list-group-item"><i class="material-icons" style="font-size: 18px;">accessibility</i><span><%= todos[i].max %></span></li>
                      <li class="list-group-item"><i class="material-icons" style="font-size: 18px;">attach_money</i><span><%= todos[i].price %></span></li>
                      <li class="list-group-item"><i class="material-icons" style="font-size: 18px;">loyalty</i><span><% if(todos[i].percent == 0) {%>No promo
                        <% }else{ %><%= todos[i].code %> - <%= todos[i].percent %>%
                        <% } %>

                      </span></li>
                      <li style="text-align: center;" class="list-group-item">
                        <button class="butt" type="button" name="<%= todos[i].num %>" style="cursor: pointer; margin: 5px 10px;width: 100px;  font-size: 18px;">Modify</button>
                        <button class="buttDel" type="button" name="<%= todos[i].num %>" style="cursor: pointer; margin: 5px 10px;width: 100px;  font-size: 18px;">Delete</button>
                      </li>
                    </ul>
                  </div>
                  <div class="card-header" style="color: white; padding: 0px 0px; border-bottom: 0px">
                    <i class="material-icons" style="font-size: 12px; padding-right:5px;">assignment_ind</i><%= todos[i].creator %>
                  </div>
                </div>
              </div>
            <% } %>
            </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
src="https://code.jquery.com/jquery-1.12.3.min.js"
integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="
crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/assets/todo-list.js"></script>
      </body>

    </html>
