<html>

      <head>
        <title>CSCI214Project</title>


        <link href="https://fonts.googleapis.com/css?family=Forum" rel="stylesheet">


        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href = "/assets/styles.css" rel="stylesheet" type="text/css" />

      <style>
        #nav4 {
          color: rgba(0,0,0,.3);
        }
        #nav5 {
          color: rgba(0,0,0,.3);
        }
        #nav6 {
          color: rgba(0,0,0,.9);
        }
      </style>
      </head>

      <body>
        <div style="margin: auto; text-align: center;">
        <img src="/assets/W2.jpg" alt="uow" height="80px">
        </div>
<% include partials/navBarStudent.ejs %>

    <br>
    <h7 class="marginSet2" style="margin-left:160px;">View Bookings</h7>
    <br>
    <br>
    <% if(todos.length == 0) {%>
        <div style="margin-left: 200px; font-size:small; color: #6c757d">
          <small class="text-muted">- No bookings -</small>
        </div>
    <% } %>

    <div class="row" style="margin: 0px 150px;">
      <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
          <% for(var i=0; i< todos.length; i++){ %>
            <% if(i==0){ %>
              <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-<%= todos[i].num %>" role="tab" aria-controls="home"><%= todos[i].name %></a>
            <% } else { %>

              <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#list-<%= todos[i].num %>" role="tab" aria-controls="home"><%= todos[i].name %></a>
            <% } %>

          <% } %>
        </div>
      </div>
      <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
          <% for(var i=0; i< todos.length; i++){ %>
            <% if(i==0){ %>
              <div class="tab-pane fade show active" id="list-<%= todos[i].num %>" role="tabpanel" aria-labelledby="list-profile-list">
                <ul class="list-group" style="width: 500px">
                  <li class="list-group-item" style="height: 100px; vertical-align: top;"><%= todos[i].des %></li>
                  <li class="list-group-item"><i class="material-icons" style="font-size: 18px;">date_range</i><%= todos[i].date.toLocaleDateString("en-US") %></li>
                  <li class="list-group-item"><i class="material-icons" style="font-size: 18px;">access_time</i><%= todos[i].start %> - <%= todos[i].end %></li>
                  <li class="list-group-item"><i class="material-icons" style="font-size: 18px;">location_on</i><%= todos[i].address %></li>
                  <li class="list-group-item"><i class="material-icons" style="font-size: 18px;">accessibility</i><%= todos[i].max %></li>
                  <li class="list-group-item"><i class="material-icons" style="font-size: 18px;">attach_money</i><%= todos[i].price %></li>

                  <li class="list-group-item" style="text-align: center;"><button class="buttCancel" type="button" name="<%= todos[i].num %>">Cancel</button></li>

                </ul>
              </div>
            <% } else { %>
              <div class="tab-pane fade" id="list-<%= todos[i].num %>" role="tabpanel" aria-labelledby="list-profile-list">
                <ul class="list-group" style="width: 500px">
                  <li class="list-group-item" style="height: 100px; vertical-align: top;"><%= todos[i].des %></li>
                  <li class="list-group-item"><i class="material-icons" style="font-size: 18px;">date_range</i><%= todos[i].date.toLocaleDateString("en-US") %></li>
                  <li class="list-group-item"><i class="material-icons" style="font-size: 18px;">access_time</i><%= todos[i].start %> - <%= todos[i].end %></li>
                  <li class="list-group-item"><i class="material-icons" style="font-size: 18px;">location_on</i><%= todos[i].address %></li>
                  <li class="list-group-item"><i class="material-icons" style="font-size: 18px;">accessibility</i><%= todos[i].max %></li>
                  <li class="list-group-item"><i class="material-icons" style="font-size: 18px;">attach_money</i><%= todos[i].price %></li>

                  <li class="list-group-item" style="text-align: center;"><button class="buttCancel" type="button" name="<%= todos[i].num %>">Cancel</button></li>

                </ul>
              </div>
            <% } %>
          <% } %>
        </div>
      </div>
    </div>
        <br>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script
  src="https://code.jquery.com/jquery-1.12.3.min.js"
  integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="
  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="/assets/viewBooking-client.js"></script>
      </body>

    </html>
